@import "tailwindcss";
@import "@nuxt/ui";

html, body {
    height: 100%;
    margin: 0;
  }
  
:root {
  --ui-primary: #0072bb;
  --ui-secondary: #003153;
  --ui-tertiary: #bebfc5;
  --ui-accent: #F64A8A;
}

@theme{
  --font-basheq: 'Basheq'
}